.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 50%;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.logo{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.my-container{
  margin: 15px;
  height: 85vh;
  width: 90vw;
}

table {
  display: block;
  max-height: 80vh;
  overflow: auto;
}

th {
  width: 10vw;
}

.book-img {
  height: 75vh;
  max-width: 35vw;
}

.footer-buttons{
  margin: 10px;
}

.back-btn{
  position: absolute;
    top: 93%;
    left: 3vw;
}

.add-to-cart-btn{
  position: absolute;
    top: 93%;
    left: 45vw;
}

.add-to-borrow-cart-btn{
  position: absolute;
  top: 93%;
  left: 45vw;
}

/* .like-btn {
    position: absolute;
    top: 93%;
    left: 42vw;
}

i{
  font-size: 18px;
} */
