.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 50%;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

nav{
  font-size: 1.5rem;
}

th, b, select, .remove-btn{
  font-size: 1.5rem;
}

.logo{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.my-container{
  margin: 15px;
  height: 85vh;
  width: 90vw;
}

.center{
  position: absolute;
  top: 45%;
  left: 40vw;
}

.book-img {
  height: 100%;
  width: 15vw;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

table {
  display: block;
  overflow: auto;
  width: 95vw;
  text-align: center;
}


tbody{
  display: block;
  overflow: auto;
  max-height: 75vh;
}

tbody > tr{
  height: 30vh;
  margin-bottom: 15px;
}

.footer-buttons > * {
  position: absolute;
  top: 93%;
  left: 90vw;
  font-size: 1.5rem;
}
