.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 50%;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.logo{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.my-container{
  margin: 10vh 25vw;
  height: 85vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}


tr{
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 15px;
}

input{
  width: 100%;
}

.button-row {
  text-align-last: end;
}



